[submodule "sushiswap"]
	path = contracts/sushiswap
	url = https://github.com/tradingstrategy-ai/sushiswap.git
	ignore= dirty
[submodule "uniswap-v3-core"]
	path = contracts/uniswap-v3-core
	url = https://github.com/Uniswap/v3-core.git
[submodule "uniswap-v3-periphery"]
	path = contracts/uniswap-v3-periphery
	url = https://github.com/Uniswap/v3-periphery.git
[submodule "venus-protocol"]
	path = contracts/venus-protocol
	url = https://github.com/VenusProtocol/venus-protocol.git
[submodule "compound-v2"]
	path = contracts/compound-protocol
	url = https://github.com/compound-finance/compound-protocol.git
	branch = v2.8.1
[submodule "wepiggy"]
	path = contracts/wepiggy
	url = https://github.com/WePiggy/wepiggy-contracts.git
